h1{
    background-color:skyblue;
    font-size: 50px;
    font-family:fantasy;
    text-align: center;
}

body{
    background-color:lightgreen;
}

.topnav{
    background-color:black;
    overflow: hidden;
}
.topnav a {
    float: left;
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration:darkgrey;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .topnav a:hover {
    background-color:pink;
    color:royalblue;
  }
  .topnav a.active {
    background-color:skyblue;
    color:black;
  }
  .topnav input[type=text] {
    float: right;
    padding: 10px;
    border:none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
    
#step1 {
    font-size:20px;
    font-family:monospace;
    text-align:start;
}

#img1{
    float:left;
    width:fit-content;
  }

#hr1 {
  border-top: 3px solid blueviolet;
}

#step2 {
    font-size:20px;
    font-family:monospace;
    text-align:left;

}

#img2 {
  float:right;
}

#hr2 {
  border-top:3px solid pink;
}

#img3 {
  float:left;
}

#step3 {
    font-size:20px;
    font-family:monospace;
    text-align:left;
    align-content: flex-start;
}

#video {
  position:absolute;
  top:0; right:0 ;
  bottom:0 left:0;
  margin:auto;
}

#hr3 {
  border-top:3px solid burlywood;
}

#img4 {
float:right;
}

#step4 {
    font-size:20px;
    font-family:monospace;
    text-align:left;
   
}

#hr4 {
  border-top:3px solid cyan;
}

#body2 {
  background-image:url(recipes.jpg);
  background-size: cover;
}

#aboutus {
  font-size:50px;
  font-family:cursive;
  background-color:transparent;
  color:black;
  text-align:center;
}

#imgrestaurant {
  border-radius:10px;
  width:800px;
  height:450px;
}

.img-container {
  text-align: center;
}

#personal {
  background-color:rgb(204, 130, 66);
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align:center;
  background-color:rgb(204, 130, 66,0.7);
  
}

.topnav1{
  background-color:black;
  overflow: hidden;
}

.topnav1 a {
  float: left;
  color:gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration:darkgrey;
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  .topnav1 a:hover {
    background-color:greenyellow;
    color:salmon;
  }
  .topnav1 a.active {
    background-color:lightskyblue;
    color:black;
  }

  .abus {
    font-family:fantasy;
    background-color:rgba(158, 230, 51, 0.8);
    font-size:50px;
    text-align:center;  

  }

  .rcmdlist {
    font-size:50px;
    font-family:monospace;
    text-align:center;
    background-color:rgb(221, 155, 69,0.6);
    }

  #body3 {
    background-image:url(foodie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .topnav2{
    background-color:black;
    overflow: hidden;
  }
  
  .topnav2 a {
    float: left;
    color:darkseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration:darkgrey;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

    .topnav2 a:hover {
      background-color:indianred;
      color:lawngreen;
    }

    .topnav2 a.active {
      background-color:lightskyblue;
      color:black;
    }

    #content1 {
      padding:25px 15px 10px 60px;
      font-size:24px;
      font-weight:bold;
      background-color:rgba(78, 64, 209, 0.9);
      color:rgb(22, 19, 19);
    }

   li {
    margin:10px;
   }

   #list1{
     text-align:left;
     font-size:25px;
     font-family:cursive;
   }
   
   #fortitle {
     color:rgb(240, 240, 240);
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   .faq {
    font-size:50px;
    font-family:monospace;
    text-align:center;
    background-color:rgba(216, 25, 241, 0.6);
   }

   #body4 {
     background-image:url(faqfinal.jpg);
     background-repeat:no-repeat;
     background-size:cover;
   }

   .FAQTitle{
     font-size:52px;
     font-family:sans-serif;
     text-align: center;
     color:black;
   }

   .FAQQuestion{
     font-size:45px;
     text-align:center;
     font-family:sans-serif;
   }

   #submit {
     font-size:35px;
   }

.box {
  border: 5px solid rgb(63, 204, 223) ;
  padding:10px;
  font-size:30px;
  font-family:sans-serif;
  color:white;
  background-color: rgba(233, 174, 48, 0.5);
}

.Question {
  font-size:35px;
  font-family:fantasy;
  color:rgb(14, 14, 14);
}